
@import '../Style/CssFunc';

.summary_section{
    width: 100vw;
    height: 30vh;
    background: url(https://png.pngtree.com/thumb_back/fw800/background/20190221/ourmid/pngtree-food-food-snack-eating-goods-image_14522.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    font-weight: bolder;
    gap: toRem(5);
    h2{
        font-size: toRem(60);
    }
    p{
        font-size: toRem(25);
    }
}